* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#envelope {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

#client {
	position: relative;
	width: 80%;
	height: 80%;
}

#editor {
	border-radius: 8px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#save {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

#close {
	position: absolute;
	bottom: 10px;
	right: 140px;
}

input[type="button"] {
	cursor: pointer;
	border: none;
	background-color: transparent;
	background-image: url(/client/assets/buttons/button-rect.svg);
	background-size: cover;
	font-size: 19px;
	min-width: 110px;
	aspect-ratio: 7 / 3;
	padding-bottom: 10px;
	color: #4f3b36;
}
